@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.pagina
{
    position: relative;
    width: 100%;
    max-width: 2000px;
    min-height: 1000px;
    background:#fff;
    margin: 50px;
    display: grid;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.superior
{
    position: absolute;
    width: 100%;
    max-width: 2000px;
    min-height: 100px;
    background:#003147;
    margin: 0px;
    display: grid;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.superior h1
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    line-height: 1.4em;
}
.superior h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.pagina .recuadro1
{
    position: absolute;
    background: #fff;
    padding: 40px;
}
.recuadro1 .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.recuadro1 .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

