@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.margen
{
    margin: 2%;
    background: lightblue;
}
.row
{
    padding: 0;
    margin:  0;
}
.pagina
{
    background:#fff;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.superior
{
    background:#003147;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    border-bottom: 5px solid rgba(255,255,255,0.2);
}
.superior h1
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.4em;
}
.superior h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.recuadro1
{
    width: 100%;
    max-width: 2000px;  
    min-height: auto;  
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}
.recuadro1 h1
{
    text-align: center;
}
.recuadro1 img
{ 
    padding-right: 50px ;
    padding: 10px; 
    margin: 10px; 
    border: 2px solid black;
    width: 350px; 
}
.imagen
{
    width:auto;
    float: left;
}
.resultados
{
    width: auto;
    float: left;
    padding-left:10px;
    
}
.recuadro1 ul
{
text-align: left;
}
.recuadro1 ul li
{
    list-style: none;
    color: #333;
    font-weight: 700;
    font-size: xx-large;
    margin: 5px 0;
}
.recuadro1 ul li .fa
{
color: #03a9f4;
font-size: 20px;
width: 20px;
}
p.centrado
{
    text-align: center;
}
.pagina .btn-abrir-popup {
	width: 100%;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #003147;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}
.pagina .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}
.botom
{
    background: #fff;
    padding-top: 30px;
    width: 2000px;
    height: 100px;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}
