@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.pagina
{
    position: relative;
    width: 100%;
    max-width: 2000px;
    min-height: 3000px;
    background:#fff;
    margin: 30px;
    display: grid;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.superior
{
    position: absolute;
    width: 100%;
    max-width: 2000px;
    min-height: 100px;
    background:#003147;
    margin: 0px;
    display: grid;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    border-bottom: 5px solid rgba(255,255,255,0.2);
}
.superior h1
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.4em;
}
.superior h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.recuadro1
{
    position:absolute;
    width: 100%;
    max-width: 2000px;
    min-height: 2000px;
    background:#fff;
    margin-top: 110px;
    display: grid;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}
.recuadro1 h1
{
    text-align: center;
}
.recuadro1 h3
{
    padding-top: 20px;
    text-align: center;
}
.recuadro1 h4
{
    padding-left: 20px;
}
.recuadro1 .texto
{
    padding-left: 20px;
    color: #003147;
    text-transform: none;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.recuadro1 img
{ 
    padding-right: 50px ;
    padding: 10px; 
    margin: 10px; 
    border: 2px solid black;
    width: 250px; 
}
p.centrado
{
    text-align: center;
}
p
{ 
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    color: #003147;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.recuadro1 ul
{
display: grid;
padding-left: 760px;
text-align: left;
}
.recuadro1 ul li
{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.recuadro1 ul li .fa
{
color: #03a9f4;
font-size: 20px;
width: 20px;
}
.recuadro1 iframe
{ 
    padding-top: 60px;
    padding: 10px; 
    margin: 10px; 
    border: 2px solid black;
    width: 680px; 
}
.recuadro1 ol
{
display: grid;
padding-left: 500px;
text-align: left;
}
.recuadro1 ol li
{
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.recuadro1 ol li .fa
{
color: #f40398;
font-size: 20px;
width: 20px;
}