@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.margen
{
    margin: 2%;
    background: lightblue;
}
.row
{
    padding: 0;
    margin:  0;
}
.pagina
{
    position: relative;
    width: 100%;
    max-width: 2000px;
    min-height: 100px;
    background:#fff;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.superior
{
    width: 100%;
    max-width: 2000px;
    min-height: 100px;
    background:#003147;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    border-bottom: 5px solid rgba(255,255,255,0.2);
}
.superior h1
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.4em;
}
.superior h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.recuadro1
{
    width: 100%;
    max-width: 2000px;
    min-height: 1800px;
    margin-top: 20px;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}
.recuadro1 h1
{
    text-align: center;
}
.recuadro1 h3
{
    padding-top: 20px;
    text-align: center;
}
.recuadro1 h4
{
    padding-left: 20px;
}
.recuadro1 .texto
{
    padding-left: 20px;
    color: #003147;
    text-transform: none;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.recuadro1 img
{ 
    padding-right: 50px ;
    padding: 10px; 
    margin: 10px; 
    border: 2px solid black;
    width: 250px; 
}
p.centrado
{
    text-align: center;
}
p
{ 
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    color: #003147;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.recuadro1 ul
{
padding-left: 4%;
text-align: left;
}
.recuadro1 ul li
{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.recuadro1 ul li .fa
{
color: #03a9f4;
font-size: 20px;
width: 20px;
}
.recuadro1 ol
{
padding-left: 4%;
text-align: left;
}
.recuadro1 ol li
{
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.recuadro1 ol li .fa
{
color: #f40398;
font-size: 20px;
width: 20px;
}
.recuadro2
{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 2000px;
    background:#fff;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    border-bottom: 5px solid rgba(255,255,255,0.2);
}
.recuadro2 h1
{
    color: #000000;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.recuadro2 ol
{
padding-left: 4%;
text-align: left;
}
.recuadro2 ol li
{
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.recuadro2 ol li .fa
{
color: #003147;
font-size: 20px;
width: 20px;
}

/* ESTILO DE VENTANA EMERGENTE*/
.overlay
{
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
}
.popup
{
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    /* font-family: 'Montserrat', sans-serif;*/
    padding: 20px;
    text-align: center;
    width: 600px;


}
.popup .btn-cerrar-popup
{
font-size: 16px;
line-height: 16px;
display: block;
text-align: right;
color: #bbbbbb;
transition: .3s ease all;
}
.popup .btn-cerrar-popup:hover
{
color: red;
}
.popup h3
{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    /*opacity: 0;*/
}
.popup h4
{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    /*opacity: 0;*/
}
.popup form .contenedor-input input{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #bbbbbb;
}
.popup form .btn-submit
{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #003147;
    border: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
.popup form .btn-submit:hover
{
    background: rgba(94,125, 227,.9);
}
.recuadro2 .btn-abrir-popup {
	width: 100%;
    padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #003147;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.recuadro2 .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}
